.gallery{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    padding: 0;
}
.gallery .pics{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 16px;
}
.gallery .pics .pic{
    border-radius: 0px;
}

.gallery .pics .pic:hover{
    transition: all 350ms ease;
    border-radius: 15px;
}

@media (max-width: 991px) {
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }

    .icon {
        padding-bottom: 5px;
        padding-right: 0;
    }
}

/*model*/

.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.85);
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}
.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}
/* .closeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 25rem;
    height: 25rem;
    padding: 5px;
    display: block;
    cursor: pointer;
    background-color: black;
    color: white;
} */

.changingBg {
    background: #00040f;
}

.changingBg .active {
    background: white;
}

.text-align-right{
    text-align: right;
}

.JHK {
    overflow: hidden;
    position: relative;
}

.code-by{
    transform: translateX(0) rotate(0.001deg);
    position: relative;
    display: inline-block;
    transition: var(--animation-primary);
}

.jooheekim{
    transform: translateX(0) rotate(0.001deg);
    position: relative;
    display: inline-block;
    padding-left: 0.21em;
    padding-right: 0.2em;
    transition: var(--animation-primary);
}

.jooheekim-kr{
    position: absolute;
    opacity: 1;
    padding-left: 0.21em;
    transition: var(--animation-primary);
    top: 0;
    left: 0;
    transform: translateX(3.25em);
    white-space: nowrap;
}

.icon{
    width: 25px;
    height: 25px;
    filter: invert(100%);
    padding-right: 10px;
}

/* .icon:hover{
    filter: invert(100%) sepia(50%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
} */

.button-effect{
    position: relative;
}

.button-effect:hover{
    transition: 0.5s;
    letter-spacing: 0.025em;
}

.button-effect::after{
    content: "";
    height: 6px;
    border-radius: 20px;
    width: 6px;
    background: #4f84d1;
    position: absolute;
    left: 50%;
    top: -6px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.button-effect:hover::after{
    opacity: 1;
}
